@import url("../css/fonts.css");


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /*-------------------- theme colors --------------------*/
    --text-gray: #3f4954;
    --white-color: #fefae0;
    --light-green: #606c38;
    --dark-green: #283618;
    --cream: #dda15e;
    --coffee: #bc6c25;

    /* grandient colors */
    --gradient-bg: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);

    /* theme font-family */
    --Abel: "Abel", cursive;
}

/*-------------------- Classes Globais --------------------*/
a{
    text-decoration: none;
    color: var(--dark-green);
    font-family: var(--Abel);
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

h1{
    font-family: var(--Abel);
    font-size: 2.5rem;
}

h2{
    font-family: var(--Abel);
    font-size: 2.5rem;
}

h3{
    font-family: var(--Abel);
    font-size: 1.3rem;
}

button.explora{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Abel);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
    color: var(--dark-green);
}

.container{
    margin: 0 5vw;
}
/*-------------------- Classes Globais --------------------*/

/*-------------------- Barra de Navegação --------------------*/
.nav{
    background: var(--white-color);
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.nav .nav-menu{
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--dark-green);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
} 

.nav .nav-items .nav-link:hover{
    background-color: var(--dark-green);
}

.nav .nav-items .nav-link:hover a{
    color: var(--white-color);
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
}

.nav .social{
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0.2rem;
}

.nav .social i:hover {
    color:var(--light-green)
}
/*-------------------- Barra de Navegação --------------------*/

/*-------------------- Carrossel --------------------*/
main .blog{
    background: url("../assets/imagemCarrossel.jpg");
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
}

main .blog .blog-post {
    padding-top: 6rem;
}

main .blog-post .artigo {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

main .artigo .post-title {
    color: var(--dark-green);
    padding: 2rem 0;
}

main .artigo .destaques {
    padding: .7rem 2rem;
    background: var(--dark-green);
    color: var(--white-color);
    margin: .5rem;
}

/*-------------------- Carrossel --------------------*/

/*-------------------- Corpo do Site --------------------*/
/*Título*/
main .titulo {
    background: url("../assets/paginaPrincipal.jpg");
    background-size: cover;
    height: 110vh;

    display: flex;
    justify-content: center;
}

main .titulo .background-site {
    padding-top: 10rem;
    text-align: center;
    color: var(--dark-green);
}

main .titulo h1, h3 {
    margin: .3rem;
}

main .titulo .explora {
    margin: 1.8rem;
    background: var(--gradient-bg);
}

main .titulo .explora:hover{
    background: transparent;
    border: 1px solid var(--white-color);
}

/*-------------------- Corpo do Site --------------------*/



/* Viewport less then or equal to 750px */
@media only screen and (max-width: 750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }
}